*{
    font-size: 1em;
}
 table{
     width:100%
 }
 table,th,td{
     border: 1px solid black;
 }
 table{
     border-collapse: collapse;
 }
 th, td{
     padding:5px;
 }
 th{
     background-color:lightcyan;
 }
 #formdiv{
     display: flex;
     flex-direction: column;
     margin-bottom:20px;
 }
    #formdiv label, button, input {
        margin: 10px;
        margin: 5px;
    }

#formdiv label{
    font-weight:bolder;
}

table button{
    padding:3px;
}

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdiv label, button, input {
        margin: 10px;
        margin: 5px;
    }

    #updateformdiv label {
        font-weight: bolder;
    }
#authorreults{
    display:none;
}
#loandateresult{
    display:none;
}
#genre {
    display: none;
}
#byauthorresults{
    display:none;
}
#byuser {
    display: none;
}



#formdivA {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #formdivA label, button, input {
        margin: 10px;
        margin: 5px;
    }

    #formdivA label {
        font-weight: bolder;
    }
#updateformdivA {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdivA label, button, input {
        margin: 10px;
        margin: 5px;
    }

    #updateformdivA label {
        font-weight: bolder;
    }